# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Test screenshots
*.png
!public/assets/*.png
!assets/*.png
!legacy/assets/*.png
